html{
  background-color: #FFCB30;
  font-family: 'Noto Sans', sans-serif;
}
header {
  padding: 10px 0;
}
.navbar {
  background-color: #FFB130;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-fluid {
  max-width: 100%;
  margin: 0;
}
#theme-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.logo img {
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.btn {
  text-decoration: none;
  background-color: #FFCB30;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
}
body{
  background-color: #FFCA30;
  font-family: 'Noto Sans', sans-serif;
}
main{
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
}
.card{
  background-color: #FFB130;
}
footer{
  background-color: #FFB130;
  margin:auto;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}
h1{
  text-align: center;
  font-family: 'Lilita One', sans-serif;
}
h2{
  font-family: 'Lilita One', sans-serif;
}
p{
  text-align: justify;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}
table{
  margin: 0 auto;
}
.small-image {
  max-width: 100px;
  max-height: 100px;
}
iframe {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
button{
  margin-top: 20px;
}
.table-container {
  display: inline-block;
}